@charset "utf-8";
/* 공통 요소 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family:'Pretendard';
    src:url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight:500;
    font-style:normal;
}
:root{
    --black:#000;
    --white:#fff;
}

.wrap{width:100%;margin:0 auto;}
.blind {position:absolute;overflow:hidden;width:1px;height:1px;margin:-1px;padding:0;clip:rect(0,0,0,0);}



/* -----------------------------------
   1920px 이상 1920px  (데스크탑)
----------------------------------- */
@media (min-width:1229px) {
  
}

/* -----------------------------------
   테블릿
----------------------------------- */
@media (min-width:768px) and (max-width:1228px) {
  
}


/* -----------------------------------
   모바일
----------------------------------- */
@media (max-width:767px) {

}