@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
:root{
    --block:#000;
    --white:#fff;
}

.wrap{width:100%;margin: 0 auto;}
.blind {position: absolute;overflow: hidden;width: 1px;height: 1px;margin: -1px;padding: 0;clip: rect(0,0,0,0);}

body{background-color: aqua;}
/* -----------------------------------
   1920px 이상 (데스크탑)
----------------------------------- */
header{position: fixed;top:0;left:0;width: 100%;height: 80px;z-index: 1000;background-color: var(--white);box-sizing: border-box;}
.header_area{width: 100%;height: auto;background-color: var(--white);border-bottom: 1px solid #E2E2E2;padding:0 120px;box-sizing: border-box;}
.header_area .inner{max-width: 1920px;display:flex;justify-content: space-between; min-height:80px;margin: 0 auto;}
.header_area .logo{display: flex;align-items: center; height: 80px;}
.header_area .logo a{display: block;width: 120px;height: 48px;}
.header_area .logo a img{width: 100%;height: 100%;object-fit: contain;}
.header_area .inner .header_right{display: flex;align-items: center;flex-grow: 1;justify-content: space-between;}

.header_area .gnb ul.depth1{display: flex;justify-content: space-between}
.header_area .gnb ul.depth1 > li{}
.header_area .gnb ul.depth1 > li > a{display:block;height:80px;line-height: 80px;font-size:18px;font-weight:bold;color:var(--block); padding: 0 50px; }
.header_area .gnb ul.depth1 > li > a:hover{text-decoration: underline;text-underline-offset: 1px;text-decoration-thickness:2px;}


.header_area ul.depth2 {display: none;margin-top:36px;background-color: var(--white);}
.header_area .gnb ul.depth2 > li > a{display: block;min-width: 78px; font-size:16px;color:var(--block);line-height: 19px;text-align: center;}
.header_area .gnb ul.depth2 > li > a:hover{text-decoration: underline;text-underline-offset: 1px;}
.header_area .gnb ul.depth2 > li + li{margin-top:16px}

.header_area.hover{background: var(--white);padding:0 120px 64px;}
.header_area.hover .depth2{display: block;}

.header_area .util {display: flex;margin-top:22px}
.header_area .util .lang_box{}
.header_area .util .lang_box .lang_btn{display: block; width: 36px;height: 36px;background: url(../images/ico_language.png) 100% / 100% no-repeat;}
.header_area .util .lang_box .lang_list{display:none;}
.header_area .util .btn_menu{display: none;}

.contents{padding-top: 80px;}

/* -----------------------------------
   768px 이상 (테블릿)
----------------------------------- */
@media (min-width: 768px) and (max-width: 1226px) {
  header {
    height: 70px;
    padding: 0 40px;
  }
}

/* -----------------------------------
   모바일
----------------------------------- */
@media (max-width: 767px) {
  header {
    height: 30px;
    padding: 0 20px;
  }
  .gnb {
    display: none;
  }
}