/* --------------------
    Modal Practice
   -------------------- */
body.no-scroll {overflow: hidden;}
.modal_overlay{position:fixed;inset:0;display:none;align-items:center;justify-content:center;background:#0009;z-index:20;}
.modal_overlay.is-open{display:flex;}

.modal_divider{margin:64px 0;border:0;border-top:1px solid #e2e2e2;}

.modal_practice{position:relative;display:flex;flex-direction:column;width:calc(100% - 48px);max-width:1296px;max-height:calc(100vh - 206px);margin:38px auto;padding-bottom: 12px;box-sizing:border-box;border-radius:18px;background:#fff;box-shadow:0 18px 45px rgba(0,0,0,.12);z-index:10;overflow:hidden;}
.modal_header{ position: sticky;top: 0;z-index: 12;height: 48px;background: #fff;display: flex;align-items: center;justify-content: flex-end;padding: 24px 24px 0;box-sizing: border-box;border-top-left-radius: 18px;border-top-right-radius: 18px;}
.modal_practice .modal_close{width: 48px;height: 48px;background: url("../images/modal_img/ico_close_btn.png") 100% / 100% no-repeat;border: none;}
.modal_content{overflow-y:auto;scrollbar-gutter:stable;scrollbar-width:thin;scrollbar-color:rgba(0,0,0,.25) transparent;padding:0 64px 64px;box-sizing:border-box;width:calc(100% - 4px);margin-right:16px;}
.modal_content::-webkit-scrollbar{width:10px;}
.modal_content::-webkit-scrollbar-track{background:transparent;}
.modal_content::-webkit-scrollbar-thumb{background:rgba(0,0,0,.25);border-radius:999px;border:3px solid transparent;background-clip:content-box;}
.modal_content::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,.35);border:3px solid transparent;background-clip:content-box;}

.modal_practice .quality_modal_top{display:flex;gap:24px;justify-content: space-between;}
.modal_practice .quality_modal_subtitle{margin:28px 0 16px;font-size:var(--font24);font-weight:700;line-height:30px;color:var(--black);}
.modal_practice .quality_modal_title{margin-bottom:36px;font-size:var(--font48);font-weight:700;letter-spacing:-.5px;}
.modal_practice .quality_modal_desc_list{list-style:none;color:var(--black);max-width: 704px;}
.modal_practice .quality_modal_desc_list li{position: relative;}
.modal_practice .quality_modal_desc_list li p{font-size:var(--font18);font-weight:400;line-height:30px;}
.modal_practice .quality_modal_cert_area{display:flex;gap:12px;justify-content: center;}
.modal_practice .quality_modal_cert_box{margin-top: 80px;}
.modal_practice .quality_modal_cert_box img{width: 100%;max-width: 440px;height: auto;object-fit: contain;}
.modal_practice .quality_modal_section{display:block;}
.modal_practice .quality_modal_section_title{font-size:24px;font-weight:700;}
.modal_practice .quality_modal_card_area{display:flex;gap:16px;margin-top:24px;}
.modal_practice .quality_modal_card{display:flex;flex-direction:column;gap:10px;width:100%;padding:36px;box-sizing:border-box;border-radius:24px;background:#F9F9FC;}
.modal_practice .quality_modal_card_icon{display:inline-flex;align-items:center;justify-content:center;width:32px;height:32px;border-radius:999px;background:#e0e0e0;font-size:0;}
.modal_practice .quality_modal_card_title{font-size:18px;font-weight:600;line-height:22px;color:var(--black);}
.modal_practice .quality_modal_card_list li{position: relative;}
.modal_practice .quality_modal_card_list li p{font-size:var(--font16);line-height:1.5;color:var(--black);}
.modal_practice .quality_modal_card_list li+li{margin-top:4px;}

/* 품질경영시스템 */
.modal_practice.quality_ver1 .quality_modal_desc_list li+li{margin-top:8px;padding-left: 12px;}
.modal_practice.quality_ver1 .quality_modal_desc_list li+li:before{display: block;content: '';background-color:var(--black); width:4px;height: 4px; border-radius: 50%; position: absolute;left: 0;top: 13px; }
.modal_practice.quality_ver1 .quality_modal_card_list li:before{display: block;content: '';background-color:var(--black); width:4px;height: 4px; border-radius: 50%; position: absolute;left: 6px;top: 50%;transform: translateY(-50%); }
.modal_practice.quality_ver1 .quality_modal_card_list li p{padding-left:24px;}


/* 환경경영시스템*/
.modal_practice.quality_ver2 .quality_modal_cert_box img{max-width: 308px;}
.modal_practice.quality_ver2 .quality_modal_section_title{display: none;}


/* 연구개발 모달창 */
.rnd_wrap .modal_practice .quality_modal_top{flex-direction: column;gap: 64px;}
.rnd_wrap .modal_practice .quality_modal_desc_list{max-width: 100%;}
.rnd_wrap .modal_practice .quality_modal_desc_list li p{line-height: 26px;}

.rnd_wrap .modal_practice .quality_modal_cert_area{position: relative; overflow: hidden;padding-bottom: 30px;box-sizing: border-box;}
.rnd_wrap .rnd_modal_swiper{max-width: 1196px;border-radius: 16px;overflow: hidden;}
.rnd_wrap .rnd_modal_swiper .swiper-slide img {width: 100%;height: 100%;object-fit: cover;display: block;}
.rnd_wrap .rnd_modal_swiper .swiper-pagination {bottom: 0;}

.rnd_wrap .rnd_modal_swiper .swiper-pagination-bullet{background: var(--black);opacity: 0.3;width: 10px;height: 10px;}
.rnd_wrap .rnd_modal_swiper .swiper-pagination-bullet-active{background: var(--black);opacity: 1;}
.swiper-button-prev,
.swiper-button-next{width: 52px !important;height: 52px !important;}
.rnd_wrap .swiper-button-prev::after{display: none;}
.rnd_wrap .swiper-button-prev::before{display: block;content: "";width: 52px;height: 52px;background-size: 52px 52px;background-repeat: no-repeat;background-position: center;background-image: url("../images/rnd/ico_arr_defualt.png");transform: rotate(180deg);}
.rnd_wrap .swiper-button-next::after{display: none;}
.rnd_wrap .swiper-button-next::before{display: block;content: "";width: 52px;height: 52px;background-size: 52px 52px;background-repeat: no-repeat;background-position: center;background-image: url("../images/rnd/ico_arr_defualt.png");}

/*  개인정보 모달창  */
/* 공통 모달(오버레이 + 중앙 정렬) */
.modal_overlay{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.35);z-index:9999;}
.modal_overlay.is-open{display:block;}

body.no-scroll{overflow:hidden;}

/* 개인정보 모달 */
.modal_practice.modal_private{position:relative;width:min(1032px, calc(100% - 48px));margin:100px auto;background:#fff;border-radius:20px;box-sizing:border-box;}
.modal_practice.modal_private .modal_close{position:absolute;top:24px;right:24px;width:40px;height:40px;border:none;background:transparent;cursor:pointer;}
.modal_practice.modal_private .modal_close::before,
.modal_practice.modal_private .modal_close::after{content:"";position:absolute;left:50%;top:50%;width:18px;height:2px;background:var(--black);transform-origin:center;}
.modal_practice.modal_private .modal_close::before{transform:translate(-50%,-50%) rotate(45deg);}
.modal_practice.modal_private .modal_close::after{transform:translate(-50%,-50%) rotate(-45deg);}
.private_title{font-size:var(--font16);font-weight:700;line-height:26px;}
.private_section p{font-size:var(--font16);line-height:22px;}
.private_subtitle{font-size:var(--font16);line-height:22px;margin-top: 24px;}

.private_ol{margin-top:10px;}
.private_ol > li{font-size:14px;line-height:26px;}
.private_ul{padding-left:24px;box-sizing: border-box;}
.private_ul > li{font-size:14px;line-height:26px;list-style:disc;}


/* 태블릿 */
@media (min-width:768px) and (max-width:1228px){

}


/* --------------------
   Responsive
   -------------------- */
@media (max-width:1228px) {
  /* 품질경영시스템 */
  .modal_divider{margin: 36px 0;}
  .modal_practice{margin-top: 56px;}
  .modal_practice.modal_private .modal_header{padding-top: 8px; padding-right: 12px;}
  .modal_practice .modal_close{width: 40px;height: 40px;}
  .modal_practice .quality_modal_subtitle{margin-top: 16px;}
  .modal_content{padding: 0 36px 36px 36px;}
  .modal_practice .quality_modal_subtitle{font-size:var(--font18);line-height: 24px;margin: 8px 0 12px;}
  .modal_practice .quality_modal_title{font-size:var(--font32);line-height: 38px;margin-bottom: 24px;}
  .modal_practice .quality_modal_desc_list li p{font-size:var(--font16);line-height:24px;}
  .modal_practice .quality_modal_top{flex-direction:column;}
  .modal_practice .quality_modal_top .quality_modal_cert_area{justify-content:center;}
  .modal_practice .quality_modal_cert_box{margin-top: 0;}
  .modal_practice .quality_modal_section_title{font-size: var(--font18);line-height: 24px;}
  .modal_practice .quality_modal_card{padding: 16px;}
  .modal_practice .quality_modal_card_title{font-size: var(--font14);}
  .modal_practice .quality_modal_card .quality_modal_card_list li p{font-size: 13px;}
  .modal_practice .quality_modal_cert_box img{max-width: 620px;}
  .modal_practice.quality_ver1 .quality_modal_desc_list li+li:before{top: 10px;}

  /* 환경경영시스템 */
  .modal_practice.quality_ver2 .quality_modal_cert_box img{max-width: 302px;}
  .modal_practice.quality_ver2 .quality_modal_section_title{display: block; font-size: var(--font18)}

  /* 연구개발 분야 모달 */
  .rnd_wrap .rnd_modal_swiper{border-radius: 12px;}
  .rnd_wrap .modal_practice .quality_modal_top{gap: 36px;}
  .rnd_wrap .swiper-button-prev::before{width: 44px;height: 44px;background-size: 44px 44px;}
  .rnd_wrap .swiper-button-next::before{width: 44px;height: 44px;background-size: 44px 44px;}
  .rnd_wrap .rnd_modal_swiper .swiper-pagination-bullet{width: 8px;height: 8px;}

  /* 개인정보 모달 */
  .modal_practice.modal_private{width:calc(100% - 76px);margin:80px auto;border-radius:18px;}
  .modal_practice.modal_private .modal_close{right:24px;top:18px;}
  .modal_practice.modal_private .modal_content{padding-bottom: 64px;}
  .modal_private .modal_header{padding: 36px 36px 0;}

}

@media (max-width:767px) {
  .modal_divider{margin: 24px 0;}
  .modal_header{padding-top: 4px;padding-right: 8px;}
  .modal_practice .modal_close{width: 32px;height: 32px;}
  .modal_practice .quality_modal_top{flex-direction:column;}
  .modal_practice .quality_modal_subtitle{margin-top: 0;font-size: var(--font14);line-height: 20px;}
  .modal_practice .quality_modal_desc_list li p{font-size:var(--font14);line-height:20px;}
  .modal_content{padding: 0 24px 24px 24px;}
  .modal_practice .quality_modal_top .quality_modal_card_area{flex-direction:column; justify-content:center;}
  .modal_practice .quality_modal_card{padding: 12px;}
  .modal_practice .quality_modal_cert_box{margin-top: 0;}
  .modal_practice .quality_modal_title{font-size:var(--font24);margin-bottom: 16px;}
  .modal_practice .quality_modal_section .quality_modal_section_title{font-size:var(--font18);}
  .modal_practice .quality_modal_section .quality_modal_card_title{font-size:var(--font14);}
  .modal_practice .quality_modal_card .quality_modal_card_list li p{font-size: 13px;}
  .modal_practice .quality_modal_card_area{flex-wrap:wrap;margin-top: 16px;}

  /* 환경경영시스템 */
  .modal_practice.quality_ver2 .quality_modal_cert_area .quality_modal_cert_box{max-width: 302px;}
  .modal_practice.quality_ver2 .quality_modal_section_title{display: block;}

  /* 연구개발 분야 */
  .rnd_wrap .modal_practice .quality_modal_top{gap: 24px;}
  .rnd_wrap .rnd_modal_swiper{border-radius: 8px;}
  .rnd_wrap .swiper-button-prev,
  .rnd_wrap .swiper-button-next{display: none;}
  .rnd_wrap .rnd_modal_swiper .swiper-pagination-bullet{width: 6px;height: 6px;}

  /* 개인정보 모달 */
  .modal_practice.modal_private .modal_close{top: 12px;right: 12px;}
}

