/* --------------------
    Modal Practice
   -------------------- */
body.no-scroll {overflow: hidden;}
.modal_overlay{position:fixed;inset:0;display:none;align-items:center;justify-content:center;background:#0009;z-index:9;}
.modal_overlay.is-open{display:flex;}

.modal_divider{margin:64px 0;border:0;border-top:1px solid #e2e2e2;}
.modal_practice{position:relative;width:100%;max-width:1296px;max-height:calc(100vh - 206px);margin: 38px;box-sizing: border-box;border-radius:18px;background:#fff;box-shadow:0 18px 45px rgba(0,0,0,.12);z-index:10;overflow-y: auto}
.modal_header{ position: sticky;top: 0;z-index: 12;height: 48px;background: #fff;display: flex;align-items: center;justify-content: flex-end;padding: 24px 24px 0;box-sizing: border-box;}
.modal_practice .modal_close{width: 48px;height: 48px;background: url("../images/modal_img/ico_close_btn.png") 100% / 100% no-repeat;border: none;}
.modal_content{overflow-y: auto;padding: 0 64px 64px 64px;box-sizing: border-box;}
.modal_practice .quality_modal_top{display:flex;gap:24px;justify-content: space-between;}
.modal_practice .quality_modal_subtitle{margin:36px 0 16px;font-size:var(--font24);font-weight:700;line-height:30px;color:var(--black);}
.modal_practice .quality_modal_title{margin-bottom:24px;font-size:var(--font48);font-weight:700;letter-spacing:-.5px;}
.modal_practice .quality_modal_desc_list{list-style:none;color:var(--black);max-width: 704px;}
.modal_practice .quality_modal_desc_list li{position: relative;}
.modal_practice .quality_modal_desc_list li p{font-size:var(--font18);font-weight:400;line-height:30px;}
.modal_practice .quality_modal_cert_area{display:flex;gap:12px;justify-content: center;}
.modal_practice .quality_modal_cert_box{margin-top: 80px;}
.modal_practice .quality_modal_cert_box img{width: 100%;max-width: 440px;height: auto;object-fit: contain;}
.modal_practice .quality_modal_section{display:block;}
.modal_practice .quality_modal_section_title{font-size:24px;font-weight:700;}
.modal_practice .quality_modal_card_area{display:flex;gap:16px;margin-top:24px;}
.modal_practice .quality_modal_card{display:flex;flex-direction:column;gap:10px;width:100%;padding:36px;box-sizing:border-box;border-radius:24px;background:#F9F9FC;}
.modal_practice .quality_modal_card_icon{display:inline-flex;align-items:center;justify-content:center;width:32px;height:32px;border-radius:999px;background:#e0e0e0;font-size:0;}
.modal_practice .quality_modal_card_title{font-size:18px;font-weight:600;line-height:1.5;color:var(--black);}
.modal_practice .quality_modal_card_list li{position: relative;}
.modal_practice .quality_modal_card_list li p{font-size:var(--font16);line-height:1.5;color:var(--black);}
.modal_practice .quality_modal_card_list li+li{margin-top:4px;}

/* 품질경영시스템 */
.modal_practice.quality_ver1 .quality_modal_desc_list li+li{margin-top:8px;padding-left: 12px;}
.modal_practice.quality_ver1 .quality_modal_desc_list li+li:before{display: block;content: '';background-color:var(--black); width:4px;height: 4px; border-radius: 50%; position: absolute;left: 0;top: 13px; }
.modal_practice.quality_ver1 .quality_modal_card_list li:before{display: block;content: '';background-color:var(--black); width:4px;height: 4px; border-radius: 50%; position: absolute;left: 6px;top: 50%;transform: translateY(-50%); }
.modal_practice.quality_ver1 .quality_modal_card_list li p{padding-left:24px;}


/* 환경경영시스템*/
.modal_practice.quality_ver2 .quality_modal_cert_box img{max-width: 308px;}
.modal_practice.quality_ver2 .quality_modal_section_title{display: none;}

/* --------------------
   Responsive
   -------------------- */
@media (max-width:1228px) {
  /* 품질경영시스템 */
  .modal_divider{margin: 36px 0;}
  .modal_practice{margin-top: 56px;}
  .modal_header{padding-top: 8px; padding-right: 12px;}
  .modal_practice .modal_close{width: 40px;height: 40px;}
  .modal_practice .quality_modal_subtitle{margin-top: 16px;}
  .modal_content{padding: 0 36px 36px 36px;}
  .modal_practice .quality_modal_subtitle{font-size:var(--font18);line-height: 24px;}
  .modal_practice .quality_modal_title{font-size:var(--font32);line-height: 38px;}
  .modal_practice .quality_modal_desc_list li p{font-size:var(--font16);line-height:24px;}
  .modal_practice .quality_modal_top{flex-direction:column;}
  .modal_practice .quality_modal_top .quality_modal_cert_area{justify-content:center;}
  .modal_practice .quality_modal_cert_box{margin-top: 0;}
  .modal_practice .quality_modal_section_title{font-size: var(--font18);line-height: 24px;}
  .modal_practice .quality_modal_card{padding: 16px;}
  .modal_practice .quality_modal_card_title{font-size: var(--font14);}
  .modal_practice .quality_modal_card .quality_modal_card_list li p{font-size: 13px;}
  .modal_practice .quality_modal_cert_box img{max-width: 620px;}

  /* 품질경영시스템 */
  .modal_practice.quality_ver1 .quality_modal_desc_list li+li:before{top: 10px;}

  /* 환경경영시스템 */
  .modal_practice.quality_ver2 .quality_modal_cert_box img{max-width: 302px;}
  .modal_practice.quality_ver2 .quality_modal_section_title{display: block; font-size: var(--font18)}


}

@media (max-width:767px) {
  .modal_divider{margin: 24px 0;}
  .modal_header{padding-top: 4px;padding-right: 8px;}
  .modal_practice .modal_close{width: 32px;height: 32px;}
  .modal_practice .quality_modal_top{flex-direction:column;}
  .modal_practice .quality_modal_subtitle{margin-top: 0;font-size: var(--font14);line-height: 20px;}
  .modal_practice .quality_modal_desc_list li p{font-size:var(--font14);line-height:20px;}
  .modal_content{padding: 0 24px 24px 24px;}
  .modal_practice .quality_modal_top .quality_modal_card_area{flex-direction:column; justify-content:center;}
  .modal_practice .quality_modal_card{padding: 12px;}
  .modal_practice .quality_modal_cert_box{margin-top: 0;}
  .modal_practice .quality_modal_title{font-size:var(--font24);margin-bottom: 16px;}
  .modal_practice .quality_modal_section .quality_modal_section_title{font-size:var(--font18);}
  .modal_practice .quality_modal_section .quality_modal_card_title{font-size:var(--font14);}
  .modal_practice .quality_modal_card .quality_modal_card_list li p{font-size: 13px;}
  .modal_practice .quality_modal_card_area{flex-wrap:wrap;margin-top: 16px;}

  /* 환경경영시스템 */
  .modal_practice.quality_ver2 .quality_modal_cert_area .quality_modal_cert_box{max-width: 302px;}
  .modal_practice.quality_ver2 .quality_modal_section_title{display: block;}

}

