@charset "utf-8";
.pr_center_wrap{max-width:1920px;margin:0 auto;padding-bottom: 0;}


/* ------------------------------
    홍보센터 전시회 참가
  ------------------------------ */
/* 메인 비주얼 */
.visual_inner{margin: 0 auto; display: flex;align-items: center; justify-content: center;border-radius: 16px; background: url("../../pub/images/pr/pr_exh_visual.png") center / cover  no-repeat; max-width: 1680px;height: 452px;}

/*  리스트  */
.pr_list_panels{margin: 36px 120px 0;max-width: 1560px;box-sizing: border-box;}
.pr_list {display: flex;gap: 24px;flex-direction: column;}
.pr_item_thumb {flex: 0 0 504px;display: flex;align-items: center;justify-content: center;}
.pr_item_thumb img {display: block; max-width: 100%;height: auto;border-radius: 24px;}
.pr_list_section .pr_item .pr_item_link {display: flex;gap: 24px;}
.pr_list_section .pr_item .pr_item_body {display: flex;flex-direction: column; padding: 48px 0;box-sizing: border-box;}
.pr_list_section .pr_item .pr_item_category {font-size:var(--font16);font-weight: 700;line-height: 18px;}
.pr_list_section .pr_item .pr_item_title {display: -webkit-box;font-size: var(--font24);line-height: 26px;margin-top: 24px;overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.pr_list_section .pr_item .pr_item_desc {display: block;display: -webkit-box;font-size: var(--font18);line-height: 30px;margin-top: 12px;text-overflow: ellipsis;overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.pr_list_section .pr_item .pr_item_date {font-size: var(--font16);line-height: 20px;margin-top: 24px;text-overflow: ellipsis;}
.pr_list_more {text-align: center;padding: 36px 0 0;}
.btn_more span {display:block;border-radius: 60px;border: 1px solid var(--black);background: var(--white);font-size: var(--font18);line-height: 22px;font-weight: 500;cursor: pointer;padding: 18px 32px; box-sizing: border-box;}


@media (max-width:1228px) {
  /* 전시회 참가 */
  .visual_inner{background: url("../../pub/images/pr/pr_exh_visual_tbl.png") center / cover  no-repeat; max-width: 1680px;height: 226px;}
  .pr_list_panels{margin: 36px 38px 0;}
  .pr_item_thumb{flex: 0 0 338px;}
  .pr_list_section .pr_item .pr_item_body{padding: 14px 0;}
  .pr_list_section .pr_item .pr_item_link {gap: 16px;}
  .pr_list_section .pr_item .pr_item_category {font-size:var(--font14);line-height: 18px;}
  .pr_list_section .pr_item .pr_item_title {font-size: var(--font18);line-height: 28px;margin-top: 16px;}
  .pr_list_section .pr_item .pr_item_desc {font-size: var(--font18);line-height: 24px;margin-top: 8px;}
  .pr_list_section .pr_item .pr_item_date {font-size: var(--font14);line-height: 18px;margin-top: 16px;}
  .pr_list_more {text-align: center;padding: 32px 0 0;}
  .btn_more span {font-size: var(--font16);line-height: 20px;padding: 14px 26px; }



}
@media (max-width:768px) {
  .contents.pr_wrap{padding-bottom: 36px;}
  /* 전시회 참가 */
  .visual_inner{background: url("../../pub/images/pr/pr_exh_visual_mo.png") center / cover  no-repeat; max-width: 1680px;height: 136px;}
  .inner_content .inner_tab .inner_tab_list .inner_tab_item span{padding: 10px 20px;}
  .pr_list_panels{margin: 24px 24px 0;}
  .pr_item_thumb{flex: 1;}
  .pr_list_section .pr_item .pr_item_body{padding: 0;}
  .pr_list_section .pr_item .pr_item_link {gap: 12px;flex-direction: column;}
  .pr_list_section .pr_item .pr_item_category {font-size: 13px;line-height: 18px;}
  .pr_list_section .pr_item .pr_item_title {font-size: var(--font16);line-height: 24px;margin-top: 12px;}
  .pr_list_section .pr_item .pr_item_desc {font-size: var(--font16);line-height: 20px;margin-top: 6px;}
  .pr_list_section .pr_item .pr_item_date {font-size: 13px;line-height: 18px;margin-top: 12px;}
  .pr_list_more {text-align: center;padding: 16px 0 0;}
  .btn_more span {font-size: var(--font16);line-height: 18px;padding: 12px 22px; }



}


/* ------------------------------
    홍보센터 카탈로그
  ------------------------------ */



@media (max-width:1228px) {

}
@media (max-width:768px) {

}


/* ------------------------------
    홍보센터 뉴스
  ------------------------------ */



@media (max-width:1228px) {

}
@media (max-width:768px) {

}
