/* --------------------
  Reset CSS
  -------------------- */
@import url(./reset.css);
@import url(./common.css);
@import url(./layout.css);

/* -----------------------------------
   제품소개 페이지
----------------------------------- */
.inner{margin: 64px 120px 36px;}
.interval_wrap{margin: 0 38px;}
.interval_wrap.sub{margin-right: 0}
.inner_visual{margin: 0 auto; display: flex;align-items: center; justify-content: center;border-radius: 16px; background: url("../../pub/images/product/product_back.png") 100% / 100% no-repeat; max-width: 1680px; height: 452px;}
.inner_visual .visual_tit{font-size: var(--font48);line-height: normal;color: var(--white);text-align: center;font-weight: 700;}

.inner_content .content_tab_box{display: flex; align-items: center; justify-content: space-between; margin: 32px auto 24px; max-width: 1560px; box-sizing: border-box;}
.inner_content .menu_guide_left_box{display: flex;align-items: center;}
.inner_content .menu_guide_left_box i.guide_home{display: block;width: 18px;height: 16px;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9688 8C17.9688 8.5625 17.5 9 16.9688 9H15.9688L16 14C16 14.0938 16 14.1875 16 14.25V14.75C16 15.4688 15.4375 16 14.75 16H14.25C14.1875 16 14.1562 16 14.125 16C14.0938 16 14.0312 16 14 16H13H12.25C11.5312 16 11 15.4688 11 14.75V14V12C11 11.4688 10.5312 11 10 11H8C7.4375 11 7 11.4688 7 12V14V14.75C7 15.4688 6.4375 16 5.75 16H5H4C3.9375 16 3.90625 16 3.84375 16C3.8125 16 3.78125 16 3.75 16H3.25C2.53125 16 2 15.4688 2 14.75V11.25C2 11.25 2 11.2188 2 11.1875V9H1C0.4375 9 0 8.5625 0 8C0 7.71875 0.09375 7.46875 0.3125 7.25L8.3125 0.25C8.53125 0.03125 8.78125 0 9 0C9.21875 0 9.46875 0.0625 9.65625 0.21875L17.625 7.25C17.875 7.46875 18 7.71875 17.9688 8Z' fill='black'/%3E%3C/svg%3E%0A");}
.inner_content .menu_guide_left_box .menu_guide_left_text{display: block;font-size: var(--font24);line-height: 30px;color: var(--black);text-align: center;font-weight: 700; padding-left: 34px; box-sizing: border-box; position: relative;}
.inner_content .menu_guide_left_box .menu_guide_left_text::before{content: ""; display: block; clear: both; width: 10px; height: 16px; margin: 0 12px; position: absolute;left: 0;top: 50%; transform: translateY(-50%); background-repeat: no-repeat; background-position: center; background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='16' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.90625 5.1875C6.09375 5.375 6.09375 5.71875 5.90625 5.90625L0.90625 10.9062C0.71875 11.0938 0.375 11.0938 0.1875 10.9062C0 10.7188 0 10.375 0.1875 10.1875L4.84375 5.53125L0.1875 0.90625C0 0.71875 0 0.375 0.1875 0.1875C0.375 0 0.71875 0 0.90625 0.1875L5.90625 5.1875Z' fill='%236E6E6E'/%3E%3C/svg%3E%0A");}

/* 제품 탭 메뉴 */
.inner_content .inner_tab .inner_tab_list{display: flex;flex-wrap: nowrap;}
.inner_content .inner_tab .inner_tab_list .inner_tab_item{display: flex;flex-wrap: nowrap;}
.inner_content .inner_tab .inner_tab_list .inner_tab_item span{display:block;font-size: var(--font16);line-height: 20px; font-weight: 500; color: var(--black);border-radius: 60px;box-sizing: border-box;padding: 14px 28px;}
.inner_content .inner_tab .inner_tab_list .inner_tab_item.is-active span{color: var(--white);background-color: var(--black);}

/* 제품 검색창 */
.content_search_box{display: flex;justify-content: flex-end;max-width: 1560px; margin:0 auto 36px;box-sizing: border-box;}
.content_search_box .inner_search_form{position:relative;display:flex;align-items:center;width:360px;max-width:100%;}
.content_search_box .inner_search_input{width:100%;padding:18px 90px 18px 28px;border:none;border-radius:40px;background:#F9F9FC;font-size:var(--font18);line-height: 32px;color:var(--black);outline:none;box-sizing:border-box;}
.content_search_box .inner_search_input::placeholder{color:#6E6E6E;}
.content_search_box .inner_search_btn{position:absolute;right:28px;width:18px;height:18px;padding:0;border:none;background:transparent;cursor:pointer;font-size:0;}
.content_search_box .inner_search_btn::before{content:"";display:block;width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:contain;background-image:url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9375 7.3125C12.9375 5.30859 11.8477 3.48047 10.125 2.46094C8.36719 1.44141 6.22266 1.44141 4.5 2.46094C2.74219 3.48047 1.6875 5.30859 1.6875 7.3125C1.6875 9.35156 2.74219 11.1797 4.5 12.1992C6.22266 13.2188 8.36719 13.2188 10.125 12.1992C11.8477 11.1797 12.9375 9.35156 12.9375 7.3125ZM11.8477 13.0781C10.582 14.0625 9 14.625 7.3125 14.625C3.26953 14.625 0 11.3555 0 7.3125C0 3.30469 3.26953 0 7.3125 0C11.3203 0 14.625 3.30469 14.625 7.3125C14.625 9.03516 14.0273 10.6172 13.043 11.8828L17.4023 16.2422L18 16.8398L16.8047 18L16.207 17.4023L11.8477 13.043V13.0781Z' fill='black'/%3E%3C/svg%3E%0A");}


/* 1712px  > 1560px 구간 */
/* 제품 이름 및 소개 */
.product_tab_panels{margin:0 auto;}
.product_tab_panels .product_tab_result {max-width: 1560px;margin: 0 auto;}
.product_tab_panels .product_tab_result strong{display:block;font-size:var(--font32);line-height:38px;font-weight:700;color:var(--black);margin-bottom:24px;}
.product_tab_panels .product_tab_result .result_text{font-size:var(--font18);line-height:28px;color:var(--black);}

/* 전체 스와이퍼 영역: 화살표 포함 1712px */
.product_tab_panels .product_main_area{margin:32px auto 0;}
.product_tab_panels .product_main_inner{margin:0 auto;display:flex;flex-direction:column;gap:24px;}
.product_tab_panels .product_main_swiper{width:100%;max-width:1712px;margin:0 auto;position:relative;}
.product_tab_panels .product_main_swiper .swiper-wrapper{border:none;border-radius:0;}

/* 카드 박스 1560px + border */
.product_tab_panels .product_card{max-width:1560px;margin:0 auto;border:1px solid #E2E2EC;border-radius:24px;display:flex;gap:64px;padding:64px;box-sizing:border-box;}
.product_tab_panels .product_card_img{flex:0 0 440px;display:flex;align-items:center;justify-content:center;}
.product_tab_panels .product_card_img img{display:block;width:100%;height:auto;}

/* 텍스트 영역 */
.product_tab_panels .product_card_info{display:flex;flex-direction:column;margin:18px 0;align-items:flex-start;gap:24px;}
.product_tab_panels .product_card_category_title{font-size:var(--font18);line-height:22px;font-weight:700;}
.product_tab_panels .product_card_title{font-size:var(--font48);font-weight:700;}
.product_tab_panels .product_card_oem{font-size:var(--font18);line-height:22px;font-weight:400;}
.product_tab_panels .product_card_spec_list{display:flex;flex-direction:column;margin:12px 0;}
.product_tab_panels .product_card_spec_item{display:flex;gap:24px;}
.product_tab_panels .product_card_spec_item dt strong{display:block;font-size:var(--font18);line-height:32px;font-weight:700;width:108px;}
.product_tab_panels .product_card_spec_item dd{font-size:var(--font18);line-height:32px;font-weight:400;}

/* 버튼 */
.product_tab_panels .product_card_btn{display:block;align-items:center;justify-content:center;border-radius:60px;border:1px solid var(--black);background:var(--white);}
.product_tab_panels .product_card_btn span{display:block;font-size:var(--font18);line-height:22px;font-weight:500;padding:18px 32px;box-sizing:border-box;}

/* 화살표 위치 */
.product_main_prev,
.product_main_next{width: 52px !important;height: 52px !important; color:#000;}
.product_main_prev{left: 0 !important;}
.product_main_prev::after{display: none;}
.product_main_prev::before{display: block;content: "";width: 52px;height: 52px;background-size: 52px 52px;background-repeat: no-repeat;background-position: center;background-image: url("data:image/svg+xml,%0A%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='51' height='51' rx='25.5' stroke='black'/%3E%3Cpath d='M31.2969 25.2031C31.7188 25.6719 31.7188 26.375 31.2969 26.7969L23.7969 34.2969C23.3281 34.7656 22.625 34.7656 22.2031 34.2969C21.7344 33.875 21.7344 33.1719 22.2031 32.75L28.9062 26.0469L22.2031 19.2969C21.7344 18.875 21.7344 18.1719 22.2031 17.75C22.625 17.2812 23.3281 17.2812 23.75 17.75L31.2969 25.2031Z' fill='black'/%3E%3C/svg%3E%0A");transform: rotate(180deg);}

.product_main_next{right: 0 !important;}
.product_main_next::after{display: none;}
.product_main_next::before{display: block;content: "";width: 52px;height: 52px;background-size: 52px 52px;background-repeat: no-repeat;background-position: center;background-image: url("data:image/svg+xml,%0A%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='51' height='51' rx='25.5' stroke='black'/%3E%3Cpath d='M31.2969 25.2031C31.7188 25.6719 31.7188 26.375 31.2969 26.7969L23.7969 34.2969C23.3281 34.7656 22.625 34.7656 22.2031 34.2969C21.7344 33.875 21.7344 33.1719 22.2031 32.75L28.9062 26.0469L22.2031 19.2969C21.7344 18.875 21.7344 18.1719 22.2031 17.75C22.625 17.2812 23.3281 17.2812 23.75 17.75L31.2969 25.2031Z' fill='black'/%3E%3C/svg%3E%0A");}

/* 썸네일 라인업 */
.product_thumb_swiper{width:100%;padding:16px 0;border-radius:20px;background:#fff;}
.product_thumb_swiper .swiper-wrapper{max-width: 1560px;align-items:stretch;margin:0 auto;}
/* 추가 */
.product_thumb_swiper .swiper-slide{display:flex;}
.product_thumb_swiper .swiper-slide .product_thumb_item{display:flex;flex-direction:column;justify-content:space-between;height:100%;}

/* 한 개 썸네일의 기본 폭 */
.product_thumb_swiper .swiper-slide{width:180px; border:1px solid #E2E2EC;border-radius: 20px;overflow: hidden;padding: 16px;box-sizing: border-box;cursor: pointer;}
.product_thumb_swiper .swiper-slide-thumb-active{border:1px solid var(--black);border-radius: 20px;}
.product_thumb_item{display:flex;flex-direction:column;align-items:flex-start;width:100%;gap: 16px;}
.product_thumb_img{display:flex;justify-content: center;width:100%;height:136px;overflow:hidden;}
.product_thumb_img img{width:136px;height:136px;object-fit:cover;display:block;}
.product_thumb_name{display: -webkit-box;font-size:var(--font18);line-height:26px;font-weight: 700;text-align: left;word-break: break-all;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;}

/* -----------------------------------
   테블릿
----------------------------------- */

@media (max-width:1228px) {
  .inner{margin: 36px 36px 64px;}
  .inner_visual{background: url("../../pub/images/product/product_back_tbl.png") 100% / 100% no-repeat;height: 226px;}
  .inner_visual .visual_tit{font-size: var(--font32);}

  /* 홈 버튼 */
  .inner_content .menu_guide_left_box i.guide_home{width: 16px;height: 14px;background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7227 7C15.7227 7.49219 15.3125 7.875 14.8477 7.875H13.9727L14 12.25C14 12.332 14 12.4141 14 12.4688V12.9062C14 13.5352 13.5078 14 12.9062 14H12.4688C12.4141 14 12.3867 14 12.3594 14C12.332 14 12.2773 14 12.25 14H11.375H10.7188C10.0898 14 9.625 13.5352 9.625 12.9062V12.25V10.5C9.625 10.0352 9.21484 9.625 8.75 9.625H7C6.50781 9.625 6.125 10.0352 6.125 10.5V12.25V12.9062C6.125 13.5352 5.63281 14 5.03125 14H4.375H3.5C3.44531 14 3.41797 14 3.36328 14C3.33594 14 3.30859 14 3.28125 14H2.84375C2.21484 14 1.75 13.5352 1.75 12.9062V9.84375C1.75 9.84375 1.75 9.81641 1.75 9.78906V7.875H0.875C0.382812 7.875 0 7.49219 0 7C0 6.75391 0.0820312 6.53516 0.273438 6.34375L7.27344 0.21875C7.46484 0.0273438 7.68359 0 7.875 0C8.06641 0 8.28516 0.0546875 8.44922 0.191406L15.4219 6.34375C15.6406 6.53516 15.75 6.75391 15.7227 7Z' fill='black'/%3E%3C/svg%3E%0A");}

  /* 홈 버튼 옆 > SVG */
  .inner_content .menu_guide_left_box .menu_guide_left_text{font-size: var(--font16);line-height:20px;}
  .inner_content .menu_guide_left_box .menu_guide_left_text::before{width:9px;height: 14px;background-image: url("data:image/svg+xml,%0A%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.90625 5.1875C6.09375 5.375 6.09375 5.71875 5.90625 5.90625L0.90625 10.9062C0.71875 11.0938 0.375 11.0938 0.1875 10.9062C0 10.7188 0 10.375 0.1875 10.1875L4.84375 5.53125L0.1875 0.90625C0 0.71875 0 0.375 0.1875 0.1875C0.375 0 0.71875 0 0.90625 0.1875L5.90625 5.1875Z' fill='%236E6E6E'/%3E%3C/svg%3E%0A");}

  /* 제품 탭 메뉴 */
  .inner_content .inner_tab .inner_tab_list .inner_tab_item span{font-size:var(--font14);padding: 12px 22px;}

  .content_search_box .inner_search_input{font-size: var(--font16);line-height: 20px;padding: 14px 86px 14px 24px;}
  .product_tab_panels .product_tab_result{margin: 0 180px;}
  .product_tab_panels .product_tab_result strong{font-size: var(--font24);line-height:34px;margin-bottom: 12px;}
  .product_tab_panels .product_tab_result .result_text{font-size: var(--font16);line-height:24px;}
  .product_tab_panels .product_card{padding: 24px;gap: 16px;}
  .product_tab_panels .product_card_img{flex:0 0 314px;}
  .product_tab_panels .product_card_info{margin: 0;gap: 12px;}
  .product_tab_panels .product_card_info .product_card_category_title{font-size: var(--font14);line-height: 18px;}
  .product_tab_panels .product_card_info .product_card_title{font-size: var(--font24);line-height: 30px;}
  .product_tab_panels .product_card_info .product_card_oem{font-size: var(--font14);line-height: 18px;}
  .product_tab_panels .product_card_spec_list .product_card_spec_item dt strong{font-size: var(--font14);line-height: 26px;}
  .product_tab_panels .product_card_spec_list .product_card_spec_item dd{font-size: var(--font14);line-height: 26px;}

  .product_tab_panels .product_card_btn span{font-size: var(--font16); padding: 14px 26px;}

  .product_main_prev,
  .product_main_next{display: none !important;}
  .product_thumb_swiper{}
}


/* -----------------------------------
   모바일
----------------------------------- */
@media (max-width:767px) {

  .content_search_box .inner_search_btn::before{width: 14px;height: 14px;background-image: url("data:image/svg+xml, %3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9375 7.3125C12.9375 5.30859 11.8477 3.48047 10.125 2.46094C8.36719 1.44141 6.22266 1.44141 4.5 2.46094C2.74219 3.48047 1.6875 5.30859 1.6875 7.3125C1.6875 9.35156 2.74219 11.1797 4.5 12.1992C6.22266 13.2188 8.36719 13.2188 10.125 12.1992C11.8477 11.1797 12.9375 9.35156 12.9375 7.3125ZM11.8477 13.0781C10.582 14.0625 9 14.625 7.3125 14.625C3.26953 14.625 0 11.3555 0 7.3125C0 3.30469 3.26953 0 7.3125 0C11.3203 0 14.625 3.30469 14.625 7.3125C14.625 9.03516 14.0273 10.6172 13.043 11.8828L17.4023 16.2422L18 16.8398L16.8047 18L16.207 17.4023L11.8477 13.043V13.0781Z' fill='black'/%3E%3C/svg%3E%0A");}
}
