@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
  min-height: 100vh;     /* body의 최소 높이를 뷰포트(화면)의 100%로 설정 */
}

main {
  flex-grow: 1; /* 자라나서 남은 공간을 모두 차지하라는 의미 */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}
button{
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}


.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0,0,0,0);
}